
// On board 27Mhz clock.
IO_LOC  "ext_clk"  52;
IO_PORT "ext_clk"  PULL_MODE=UP IO_TYPE=LVCMOS33;
// CLOCK_LOC "ext_clk" BUFG;

// Test output pins.
IO_LOC  "test[7]"  38;
IO_LOC  "test[6]"  37;
IO_LOC  "test[5]"  36;
IO_LOC  "test[4]"  39;
IO_LOC  "test[3]"  25;
IO_LOC  "test[2]"  26;
IO_LOC  "test[1]"  27;
IO_LOC  "test[0]"  28;

IO_PORT "test[7]"  PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "test[6]"  PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "test[5]"  PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "test[4]"  PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "test[3]"  PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "test[2]"  PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "test[1]"  PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "test[0]"  PULL_MODE=UP  IO_TYPE=LVCMOS33;
